/* Color & Font variables */

/* Fira Sans Regular 400 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
/* Fira Sans Regular 700 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
html {
    box-sizing: border-box;
    /* Colors */
    --font-color1: purple;
    --font-color2: white;
    --iconsdefault: orangered;
    --iconsgold: gold;
    --menu-bg-color1: purple;
    --menu-bg-color2: #4f0879;
    --menu-font-color: gold;
    --primary-color: purple;
    --primary-color-hover: rgb(175, 2, 175);
    --secondary-color: #4f0879;
    --secondary-color-hover: #7d0cbe;
    --purplefoot: purple;
    --salesprice: red;
    --search-bg: goldenrod;
    --filtercolor-bg: #804f9c;
    --filtercolor-fnt: #4f0879;
    /* Fonts */
    --font-fira: 'Fira Sans', Arial, Helvetica, sans-serif;
    /* Font size */
    --font-sm-view: 0.9em;
    --font-md-view: 1em;
    --font-lg-view: 1.2em;
    --font-xl-view: 1.6em;
}

body {
    margin: auto;
}

main {
    max-width: 1400px;
    margin: auto;
    padding: 1em;
}

h4 {
    text-align: center;
    margin: 0.5em;
}

h3 {
    /* background-color:var(--font-color1); */
    /* text-shadow: rgb(97, 96, 96) 2px 2px; */
    font-family: var(--font-fira);
    color: var(--font-color1);
    font-size: var(--font-lg-view);
    margin-top: 1em;
    margin-bottom: 0;
    padding: 1em;
    text-align: center;
}

h3 a {
    text-decoration: none;
}

h2 {
    color: var(--font-color1);
    font-family: var(--font-fira);
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5em;
    text-align: left;
    align-self: center;
    text-shadow: rgb(97, 96, 96) 1px 1px;
}

a {
    color: var(--font-color1);
    font-weight: bolder;
}

ins {
    color: var(--salesprice);
    font-family: var(--font-fira);
    font-size: 1.1em;
}

img {
    width: 100%;
    height: 100%;
}

fieldset {
    border-color: rgb(242, 210, 255);
    border-style: solid;
    border-width: 0.3em;
    border-radius: 1em;
    background-color: rgb(252, 231, 255);
    color: var(--purplefoot);
    font-family: var(--font-fira);
    font-size: var(--font-sm-view);
    font-weight: 700;
    padding: 0.1em;
    width: 100%;
}

.top-filter {
    display: flex;
    margin: 1em 0.2em;
    border-color: rgb(242, 210, 255);
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1em;
    background-image: linear-gradient(-45deg, rgb(246, 230, 253), rgb(224, 198, 253), rgb(246, 230, 253) );
    color: var(--purplefoot);
    font-family: var(--font-fira);
    font-size: var(--font-sm-view);
    font-weight: 700;
    /* padding: 0.5em; */
    width: 100%;
    min-width: 135px;

}



#star-filter li {
    margin: 0;
}

fieldset li {
    margin-bottom: 10px;
}

input[type=radio]+label {
    color: var(--iconsdefault);
    cursor: pointer;
}

input[type=radio]:checked+label {
    color: var(--iconsgold);
    cursor: default;
}

/* Header structure */

.page-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo logo logo";
}

/* Background logo style */

.logo {
    background-image: linear-gradient(45deg, purple, red, tomato, tomato, red, purple);
    box-shadow: 0rem 0.16rem orange;
    display: flex;
    font-size: 3em;
    grid-area: logo;
    height: 4em;
    justify-content: center;
    text-shadow: 0.16rem 0.16rem brown, 0.32rem 0.32rem red, 0.34rem 0.34rem orange, 0.36rem 0.36rem salmon;
}

/* Logo image resizing */

.logo img {
    width: 60%;
}

/* Toggle menu - Smallest/Small Port view */

.nav-toggle {
    color: red;
    position: absolute;
}

/* Standard setting to icons and stars */

.material-icons {
    color: var(--iconsdefault);
}

/* Navigation Menu Style */

.navigation {
    background-color: var(--menu-bg-color1);
    display: flex;
    flex-direction: column;
    position:relative;
    top: 9.6em;
    font-family: var(--font-fira);
    font-weight: 700;
    font-size: var(--font-sm-view);
    grid-area: navigation;
    justify-content: center;
    list-style-type: none;
    line-height: 1.9rem;
    max-width: 200px;
    margin-top: -20.65em;
}

.navigation a {
    color: var(--menu-font-color);
    list-style: none;
    text-decoration: none;
}

.navigation li:hover {
    background-color: #9141c0;
    background-image: linear-gradient(#8309ca, #9141c0, #4f0879);
    color: var(--menu-font-color);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.menu li {
    padding: 1em 0em 1em 0em;
    justify-content: space-between;
    width: 100%;
}

.menu li:hover .submenu {
    display: flex;
    flex-direction: column;
    background-color: var(--menu-bg-color2);
    background-image: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.submenu {
    display: none;
    position: relative;
    top: -0.080em;
    right: -13.9em;
}

.hidden {
    display: none;
}

.your-products {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    padding: 0.5em;
}

.your-products li {
    padding: 0.5em;
}

.your-products li:hover {
    background: var(--menu-bg-color2);
}

.your-products span {
    color: var(--iconsgold);
}



/* Customized Search bar */

.search {
    align-content: center;
    background-color: var(--search-bg);
    display: flex;
    justify-content: center;
    padding: 1em;
}

.search-box {
    padding: 0.5em 0.5em;
    border-radius: 5px;
    border: 2px solid purple;
    background-color: rgb(253, 238, 253);
}

.search label {
    display: none;
}

#search {
    color: var(--iconsgold);
    font-size: 2em;
    font-weight: bold;
}

button#search-button {
    border-radius: 5px;
    border: 2px solid purple;
    background: linear-gradient(#8309ca, #9141c0, #4f0879);
}

.products {
    background-color: lavender;
    box-shadow: var(--menu-bg-color2) 2px 2px 15px;
    /* margin-bottom: 0; */
}

.product {
    background-color: rgb(216, 216, 253);
    border-radius: 15px;
}

/* Search/Result Filters Color/Type/Ratings*/

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filter-options {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    
}
.filter-list {
    text-align: center;
}
.filter-list li {
    margin: auto;
}

.filter-list .material-icons {
    color: inherit;
}

.handed-filter input+span {
    display:block;
    appearance: none;
    background-color: rgb(255, 241, 255);
    padding: 0.4em;
    border-radius: 10px;
    opacity: 50%;
}

.handed-filter input {
    appearance: none;
    background-color: purple;
}

.handed-filter input:checked+span {
    background-image: linear-gradient(-45deg, var(--filtercolor-bg), rgb(105, 50, 149), var(--filtercolor-bg));
    color: white;
    opacity: 100%;
}

.colorpicked-filter input+span {
    display: block;
    appearance: none;
    padding: 0.4em 1.5em;
    border-radius: 10px;
    opacity: 50%;
}

.colorpicked-filter input {
    appearance: none;
    background-color: purple;
}

.filter-list li {
    display: flex;
    margin: 10px;
    margin-left: 0;
    min-width: 100%;
    justify-content: flex-start;

}

/* .colorpicked-filter input:checked + span {
    background-image: linear-gradient(90deg,var(--filtercolor-bg),rgb(105, 50, 149),var(--filtercolor-bg));
    color: white;
    opacity: 100%; */

.colorpicked-filter input[id="filter-black"]+span {
    background-color: rgb(255, 241, 255);
    /* border: 1px solid gray; */
}

.colorpicked-filter input[id="filter-black"]:checked+span {
    background-image: linear-gradient(-45deg, black,black,rgb(47, 47, 47),black,black);
    color: white;
    opacity: 90%;
    /* border: 1px solid gray; */
}

.colorpicked-filter input[id="filter-white"]+span {
    background-color: rgb(251, 222, 251);
    /* border: 1px solid gray; */
}

.colorpicked-filter input[id="filter-white"]:checked+span {
    background-image: linear-gradient(-45deg, white, white, rgb(219, 217, 217), white, white);
    color: rgb(63, 59, 59);
    opacity: 90%;
    /* border: 1px solid gray; */
}

.colorpicked-filter input[id="filter-red"]+span {
    background-color: rgb(251, 222, 251);
    /* border: 1px solid gray; */
}

.colorpicked-filter input[id="filter-red"]:checked+span {
    background-image: linear-gradient(-45deg, rgb(195, 8, 8), rgb(195, 8, 8), rgb(240, 16, 16), rgb(195, 8, 8), rgb(195, 8, 8));
    color: white;
    opacity: 90%;
    /* border: 1px solid gray; */
}

#rating.filter-list {
    min-width: 130px;
}

/* Result header */

.results {
    background-color: lavender;
    color: var(--font-color1);
    text-align: left;
}

/* Selection box SHOW customization */

.show-filter {
    color: var(--font-color1);
    font-family: var(--font-fira);
    font-weight: 600;
    font-size: var(--font-lg-view);
    height: 100%;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
}

.show-filter label {
    display: none;
}

#sort {
    padding-left: 0.5em;
    padding-right: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: 3px solid var(--secondary-color-hover);
    border-radius: 15px;
    background-color: rgb(253, 238, 253);
    font-family: var(--font-fira);
    font-size: 0.8em;
}

/* ========PRODUCTS RESULT LAYOUT======== */

.product-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 7fr 2fr;
    grid-template-areas: "product-img thumb-img" "product-img thumb2-img" "product-img thumb3-img";
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

/* Main product image */

.product-img {
    align-self: center;
    border-radius: 0.5em;
    box-shadow: var(--primary-color) 1px 1px 4px;
    grid-area: product-img;
    width: 100%;
    height: 100%;
}

/* Side Thumbs product */

.thumb-img {
    border-radius: 0.5em;
    box-shadow: var(--primary-color) 1px 1px 4px;
    grid-area: thumb-img;
}

.thumb-img:hover {
    border-radius: 0.5em;
    box-shadow: var(--primary-color) 5px 5px 3px;
    grid-area: thumb-img;
}

.thumb2-img {
    border-radius: 0.5em;
    box-shadow: var(--primary-color) 1px 1px 4px;
    grid-area: thumb2-img;
}

.thumb2-img:hover {
    border-radius: 0.5em;
    box-shadow: var(--primary-color) 5px 5px 3px;
    grid-area: thumb2-img;
}

.thumb3-img {
    border-radius: 0.5em;
    box-shadow: var(--primary-color) 1px 1px 4px;
    grid-area: thumb3-img;
}

.thumb3-img:hover {
    border-radius: 0.5em;
    box-shadow: var(--primary-color) 5px 5px 3px;
    grid-area: thumb3-img;
}

/* Product Grid structure */

.product-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "product-price product-rating" "details details" "product-filter product-filter " "add-cart add-cart";
    margin-bottom: 1em;
    padding: 1em;
}

.product-header p {
    font-family: var(--font-fira);
    font-weight: 500;
    font-size: var(--font-md-view);
}

.product-price {
    font-family: var(--font-fira);
    font-weight: bolder;
    font-size: var(--font-sm-view);
    grid-area: product-price;
    margin: 1em;
    text-align: center;
}

/* Detailed product information */

.details {
    grid-area: details;
    margin: 1em;
    text-align: left;
}

.product-rating {
    grid-area: product-rating;
    height: 85%;
    text-align: center;
    width: auto;
}

div.product-rating span {
    color: var(--iconsgold);
    text-shadow: rgb(92, 92, 92) 1px 1px 1px;
}

.product-rating h4 {
    margin: 0.5em;
    margin-bottom: 0;
    text-align: center;
}

.product-filter {
    display: flex;
    grid-area: product-filter;
    margin-bottom: 1em;
    text-align: left;
}

/* Button Add to Cart */

.add-cart {
    display: flex;
    grid-area: add-cart;
    justify-content: flex-end
}

.add-cart button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--font-color2);
    font-size: 16px;
    line-height: 1.5em;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 1px;
}

.add-cart button:hover {
    background-color: var(--primary-color-hover);
}

.add-cart button:active {
    background-color: var(--primary-color);
}

.add-cart span.material-icons {
    color: var(--iconsgold);
}

/* Button Favorite Icon */

button.product-favorite {
    background: var(--secondary-color);
}

button.product-favorite:hover {
    background: var(--secondary-color-hover);
}

/* Structure of search pages */

.pagination {
    grid-area: pagination;
}

.pagination p {
    color: var(--purplefoot);
    font-family: var(--font-fira);
    font-weight: bolder;
    font-size: var(--font-lg-view);
    text-align: center;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 60%;
    margin: auto;
    margin-bottom: 2em;
}

.pages a {
    display: flex;
    padding: 15px;
    text-decoration: none;
}

.pages a:hover {
    background-color: var(--font-color1);
    border-radius: 5px;
    color: var(--font-color2);
    line-height: 0.5em;
    padding: 15px;
}

/* Foot, social media, legal and Copyright Style */

.page-footer {
    background-color: var(--purplefoot);
    color: var(--font-color2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    margin: 0;
}

.page-footer a {
    color: var(--font-color2);
    text-decoration: none;
}

.social {
    align-self: center;
    display: flex;
    list-style-type: none;
}

.social li {
    padding: 10px;
}

.social span.material-icons {
    color: var(--iconsgold);
}

.legal {
    display: flex;
    font-size: 0.7em;
    justify-content: center;
}

.legal li {
    padding: 10px;
}

.copyright {
    color: var(--font-color2);
    text-align: center;
}

.copyright img {
    display: none;
}

.fa {
    border-radius: 15%;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 40px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: var(--iconsgold);
    color: white;
    text-shadow: black 1px 1px 1px;
}

.fa-twitter {
    background: var(--iconsgold);
    color: white;
    text-shadow: black 1px 1px 1px;
}

.fa-instagram {
    background: var(--iconsgold);
    color: white;
    text-shadow: black 1px 1px 1px;
}

/*==== Media queries starts here===== */

/* Small Port View */

@media screen and (min-width:48em) {
    fieldset {
        font-size: var(--font-md-view);
    }
    .handed-filter input+span {
        font-size: var(--font-lg-view);
    }
.colorpicked-filter input+span {
    font-size: var(--font-lg-view);
}
    .navigation {
        background-color: var(--menu-bg-color1);
        display: flex;
        position:initial;
        top: 0;
        flex-direction: row;
        font-family: var(--font-fira);
        font-weight: 700;
        font-size: var(--font-sm-view);
        grid-area: navigation;
        justify-content: center;
        list-style-type: none;
        line-height: 1.9rem;
        margin-top: 0;
        max-width: none;
    }
    
    .navigation a {
        color: var(--menu-font-color);
        list-style: none;
        text-decoration: none;
    }
    
    .navigation li:hover {
        background-color: #9141c0;
        background-image: linear-gradient(#8309ca, #9141c0, #4f0879);
        color: var(--menu-font-color);
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }
    
    .menu li {
        padding: 1em 0em 1em 0em;
        justify-content: space-between;
        width: 100%;
    }
    
    .menu li:hover .submenu {
        background-color: var(--menu-bg-color2);
        background-image: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        position: absolute;
        width: 100%;
    }
    
    .submenu {
        display: none;
        top: initial;
        right: initial;
    }
    


    .nav-toggle {
        display: none;
    }
    .menu {
        max-width: 760px;
    }
    .submenu {
        max-width: 570px;
    }
    .search-box {
        padding: 0.5em 0.5em;
    }
    .results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "subheading show-filter" "product product" "product product" "product product" "pagination pagination";
        grid-gap: 1em;
    }
    .pagination {
        grid-area: pagination;
    }
    .pages {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 14em;
        margin-right: 14em;
    }
    .page-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .social {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .social span {
        font-size: 2.5em;
        text-shadow: black 1px 1px 1px;
    }
    .legal {
        display: flex;
        flex-direction: column;
        font-size: var(--font-lg-view);
        margin-top: 4em;
        text-align: center;
    }
    .copyright {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .copyright img {
        display: flex;
    }
    .fa {
        border-radius: 15%;
        font-size: 15px;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        width: 65px;
    }
}

/* Medium Port View */

@media screen and (min-width: 82em) {
    fieldset {
        font-size: var(--font-md-view);
    }
    .handed-filter input+span {
        font-size: var(--font-xl-view);
    }
.colorpicked-filter input+span {
    font-size: var(--font-xl-view);
}
    h2 {
        font-size: 3em;
    }
    .navigation {
        font-size: var(--font-lg-view);
    }
    .your-products span {
        font-size: 1.5em;
    }
    .nav-toggle {
        display: none;
    }
    .results {
        border: rgb(194, 194, 255);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "subheading subheading show-filter" "product product product" "product product product" "product product product" "pagination pagination pagination";
        grid-gap: 1.5em;
    }
    .subheading {
        grid-area: subheading;
    }
    .search {
        justify-content: center;
    }
    .search-box {
        /* /* margin-left: 35em; */
        border-radius: 5px;
        border: 3px solid purple;
        background-color: rgb(253, 238, 253);
        padding: 0.5em 0.5em;
        width: 20em;
    }
    .product-img {
        width: 100%;
        height: 100%;
    }
    .pagination {
        grid-area: pagination;
    }
    .pagination p {
        color: var(--purplefoot);
        font-family: var(--font-fira);
        font-weight: bolder;
        font-size: var(--font-lg-view);
        text-align: center;
    }
    .pages {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 30%;
        margin: auto;
        margin-bottom: 2em;
    }
    .pages a {
        display: flex;
        padding: 22px;
        text-decoration: none;
    }
    .pages a:hover {
        background-color: var(--font-color1);
        border-radius: 5px;
        color: var(--font-color2);
        line-height: 0.5em;
        padding: 22px;
    }
    #sort {
        padding-left: 1em;
        padding-right: 4em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 1em;
    }
}